.b{
  border-radius: 8px;
  border: 1px solid rgba(20, 20, 20, 0.15);
  font-size: 20px;
  width: 200px;
  }
  .table-bg{
    border-radius: 8px;
    background: radial-gradient(182.1% 173.43% at 50% 49.99%, rgba(220, 141, 72, 0.30) 0%, rgba(211, 135, 69, 0.30) 4.19%, rgba(145, 87, 43, 0.30) 36.95%, rgba(94, 49, 22, 0.30) 66.01%, rgba(63, 26, 10, 0.30) 87.87%, rgba(51, 17, 5, 0.30) 100%);
  }